<footer class="footer ">
  <div class="container-fluid">
      <p class="text-muted">
          <i class="fa fa-copyright" aria-hidden="true"></i> {{ year }} Henrik.Binggl
          <span class="hidden-xs">| <strong>bookmarks application</strong> | <span class="fa fa-code-fork"></span>&nbsp;<small><span style="color:indigo">{{ appData?.versionInfo?.version }}</span>-<span style="color:darkred">{{ appData?.versionInfo?.buildNumber }}</span>, ui: <span style="color:darkviolet">{{ appData?.uiRuntime }}</span></small>
          | <span class="fa fa-code"></span>&nbsp;<small><a href="/swagger/index.html">API documentation</a></small>
          </span>
      </p>
      </div>
</footer>
