/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Code+Pro&display=swap');

html, body { margin: 0; padding: 0; height: 100%; font-family: monospace; }

.success {
  background-color: #27AE60 !important;
}

.error {
  background-color: #A93226 !important;
}

.info {
  background-color: #5DADE2  !important;
}

.mat-card-header-text {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
